
body {
  background-color: rgb(167, 133, 93);
  position: relative;
}

h2 {
  color: white;
  font-size: medium;
  font-weight: bold;
  margin-left: 2vw;
}

nav {
  height: 10vh;
  background-color: rgb(61, 61, 161);
  box-shadow: 0 4px 10px white;
}

main {
  height: 80vh;
}

footer {
  height: 10vh;
  background-color: #feca04;
  box-shadow: 0 -4px 10px white;
}

h5 {
  margin: 0 !important;
  padding: 0 !important;
}

p {
  padding-right: 0 !important;
}

select {
  /* appearance: none; */

  /* background: url('../img/arrowDown.png') white no-repeat calc(100% - 10px) !important; */

  /* background: url('../img/ad.png') rgb(61, 61, 161) no-repeat calc(100% - 10px) !important; */

  /* color: white; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul > li.list-items > a {
  text-decoration: none;
}

.list-items {
  z-index: 2;
}

.sets-element {
  width: 210px;
  max-width: 320px;
}

.logo-img {
  width: 100px;
  height: 84px;
  background: no-repeat center/75% url("../css/img/pngwing.png");
  object-fit: contain;
}

.footer-style {
  color: rgb(61, 61, 161);
}

.item-nav {
  /* font-size: 2.5vw; */
}

.btn-primary {
  border: 2px solid black;
  box-shadow: 6px 6px black;
  font-weight: bold;
  background-color: white;
  border-color: black;
  color: black;
}

.btn-primary:hover {
  box-shadow: 4px 4px black;
  background-color: black;
  border-color: black;
  color: white;
}

.btn-primary:active {
  box-shadow: 2px 2px black;
  background-color: white;
  border-color: white;
  color: white;
}

.btn-primary:focus {
  background-color: grey;
  border-color: black;
  color: white;
}

.card-style {
  box-shadow: 1px 8px 16px rgba(88, 88, 88, 0.48);
}

.card-text {
  height: 144px;
}

.iconLike {
  color: rgb(61, 61, 161);
}

.modal-popup {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.square-container {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 4px 4px 10px white;
}

.card-img-popup {
  height: 350px;
  width: 260px;
}

.hidden {
  display: none;
}

#closeIcon {
  color: white;
}

#closeIcon:hover {
  color: grey;
}

#numberOfCards {
  font-weight: bold;
  color: white;
}

#fatherCommentsContainer {
  padding: 0;
  height: 200px;
  overflow-x: hidden;
}

#parentSetCards {
  background-color: rgb(61, 61, 161);
  border-style: none;
  text-align: center;
  color: white !important;
  cursor: pointer;
  background-image: none;
}

#bodyModal {
  margin: 0;
}

#navbarCollapse {
  z-index: 1;
  background-color: rgb(61, 61, 161);
}

#ul-nav {
  z-index: 1;
}

@media (min-width: 768px) {
  .card-img-popup {
    height: 390px;
    width: 300px;
  }
}
